body {
	background-color: lightgrey;
}

h1 {
	margin: 20px;
}

#content {
	margin: auto;
	border: 2px solid black;
	background-color: white;
	padding: 20px;
}

p {
	font-weight: bold;
}

.low {
	color: green;
}

.mid {
	color: orange;
}

.high {
	color: coral;
}

input[type=button] {
	background-color: #BDB76B;
	border-radius: 20px;
}

input[type=button]:active {
  position: relative;
  top: 1px;
}

#lowrisk {
	display: none;
	background-color: limegreen;
	width: 500px;
	border: 5px solid white;
	margin: auto;
	padding: 5px;
	text-align: center;
}

#midrisk {
	display: none;
	background-color: orange;
	width: 500px;
	border: 5px solid white;
	margin: auto;
	padding: 5px;
	text-align: center;
}

#highrisk {
	display: none;
	background-color: coral;
	width: 500px;
	border: 5px solid white;
	margin: auto;
	padding: 5px;
	text-align: center;
}