* {
	font-family: Verdana, sans-serif;
}

body {
	background-color: #f2f2f2; /* for browsers that do not support gradients */
	background-image: radial-gradient(circle, grey, darkgrey, lightgrey);
}

h1 {
	margin: 20px;
	text-align: center;
}

#content {
	margin: auto;
	border: 2px solid black;
	background-color: white;
	padding: 20px;
}

p {
	font-weight: bold;
}

/* https://stackoverflow.com/questions/4253920/how-do-i-change-the-color-of-radio-buttons */
input[type='radio']:after {
	width: 12px;
	height: 12px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

.low:checked:after {
	width: 12px;
	height: 12px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: limegreen;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

.mid:checked:after {
	width: 12px;
	height: 12px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: gold;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

.high:checked:after {
	width: 12px;
	height: 12px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: coral;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type=button] {
	background-color: #BDB76B;
	border-radius: 10px;
	font-size: 20px;
}

input[type=button]:active {
	position: relative;
	top: 1px;
}

#lowrisk {
	display: none;
	background-color: limegreen;
	width: 500px;
	border: 5px solid white;
	border-radius: 70px;
	margin: auto;
	padding: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

#midrisk {
	display: none;
	background-color: gold;
	width: 500px;
	border: 5px solid white;
	border-radius: 70px;
	margin: auto;
	padding: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

#highrisk {
	display: none;
	background-color: coral;
	width: 500px;
	border: 5px solid white;
	border-radius: 70px;
	margin: auto;
	padding: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}